# Clave de API de Groq (Gratis en https://console.groq.com)
GROQ_API_KEY= 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

# Rutas de base de conocimiento y datos
KNOWLEDGE_BASE_PATH=./knowledge_base/
METRICS_DB_PATH=./data/metrics.db
